body {
  background: #8b83f7;
  background: linear-gradient(#8b83f7, #5c7aff);
  background-size: 100%;
}

.loginContainer {
  width: 50%;
  background-color: #fff;
  margin: 250px auto;
  padding: 2%;
}

.loginContainer .btn {
  margin-top: 5%;
}

.signUpContainer {
  width: 50%;
  background-color: #fff;
  margin: 250px auto 0;
  padding: 2%;
}

.signUpContainer .btn {
  margin-top: 5%;
}

#menuLogo {
  width: 70px;
}

nav {
  border-radius: 10px;
  margin-top: 2%;
}

